<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/head :: headResources}"></div>
    <title>Pizzas</title>
</head>
<body>
<div class="d-flex align-items-center justify-content-center flex-column wrapper">
    <div class="content">
    <h1>Menu</h1>
        <div  th:if="${list.size >0}">
            <form action="/search" method="get">
                <input type="text" name="name" class="input" placeholder="Pizza Name">
                <button type="submit" class="btn">Search</button>
            </form>

            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pizza : ${list}" th:object="${pizza}">
                    <td th:text="*{getName()}"></td>
                    <td th:text="|€ *{getPrice()}|" class="text-center"></td>
                    <td th:text="*{getDescription()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    <p th:unless="${list.size >0}" class="alert alert-danger">No pizzas found</p>
    </div>
</div>

</body>
</html>