<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/head :: headResources}"></div>
    <div th:replace="~{fragments/head :: font-awesome}"></div>


    <title>Pizzas</title>
</head>
<body>
<div class="d-flex align-items-center justify-content-center flex-column wrapper">
    <div class="content">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Menu</h1>
            <a th:href="@{/pizzas/create}" class="btn btn-primary rounded-circle" title="Create a new Pizza"><i class="fa-solid fa-plus"></i></a>
        </div>

        <div  th:if="${list.size >0}">
            <form action="/pizzas" method="get">
                <input type="text" name="name" class="input" placeholder="Pizza Name" th:value="${queryValue}">
                <button type="submit" class="btn">Search</button>
            </form>

            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pizza : ${list}" th:object="${pizza}">
                    <td>
                        <a th:href="@{/pizzas/{id}(id= *{getId()})}" th:text="*{getName()}" title="View Details"></a>
                    </td>
                    <td th:text="|€ *{getPrice()}|" class="text-center"></td>
                    <td th:text="*{getDescription()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    <p th:unless="${list.size >0}" class="alert alert-danger">No pizzas found</p>
    </div>
</div>

</body>
</html>