<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/head :: headResources}"></div>
    <div th:replace="~{fragments/head :: font-awesome}"></div>
    <title>Pizza [[${pizza.getName()}]]</title>
</head>
<body>
<div class="d-flex align-items-center justify-content-center flex-column wrapper" th:object="${pizza}">
    <div class="content">
        <a th:href="@{/pizzas}" class="back-arrow"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>Pizza [[*{getName()}]]</h1>
        <p>[[*{getDescription()}]]</p>
        <h5 >Price: <span th:classAppend="*{hasAvailableDiscount()}? 'text-decoration-line-through' : ''">€ [[*{getPrice()}]]</span> <h4
                th:if="*{hasAvailableDiscount()}">€ [[*{getDiscountedPrice()}]]</h4></h5>
        <div >
        <hr>
            <div class="row">
                <h5 class="col-3" th:text="${pizza.discounts.size > 0} ? 'Active Discounts:' : 'No Active Discounts'"></h5>

                <div th:replace="~{fragments/body :: AlertMessage}"></div>
                <a class="col-auto btn btn-primary" th:href="@{/discount/create(p_id=${pizza.id})}">Add a Discount</a>
            </div>

        <table th:if="${pizza.discounts.size > 0}">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Value</th>
                <th class="text-center">Starting</th>
                <th class="text-center">Expiring</th>
                <th class="text-center">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="d : ${pizza.discounts}" th:object="${d}">
                <td th:text="*{title}"></td>
                <td class="text-center" th:text="*{value}"></td>
                <td th:text="*{startingDate}" class="text-center"></td>
                <td th:text="*{expiringDate}"></td>
                <td><a th:href="@{/discount/edit/{d_id}(d_id=${d.id})}" class="btn btn-primary me-2"><i class="fa-solid fa-pen"></i></a>
                    <a th:href="@{/discount/delete/{d_id}(d_id=${d.id})}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
            </tbody>
        </table>

        </div>
        <div >
            <hr>
            <div class="row">
                <h5 class="col-3">Ingredients:</h5>
                <div th:replace="~{fragments/body :: AlertMessage}"></div>
                <a class="col-auto btn btn-primary" th:href="@{/discount/create(p_id=${pizza.id})}">Add</a>
            </div>

            <table th:if="${pizza.discounts.size > 0}">
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${pizza.ingredients}" th:object="${i}">
                    <td th:text="*{name}"></td>
                    <td class="text-center" th:text="*{description}"></td>
                    <td></td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>